	.number {
	    width: 400px;
	    height: 400px;
	    border: 15px solid;
	    margin: auto;
	    align-items: center;
	}

	p {
	    font-size: 150px;
	    font-weight: bold;
	    text-align: center;
	}

	.count {
	    display: flex;
	    justify-content: center;
	    margin: 50px;
	}

	.button-plus,
	.button-minus {
	    width: 150px;
	    height: 150px;
	    font-size: 35px;
	}